* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.body {
    background-attachment: scroll;
}

.headermates {
    background-color: rgba(0, 0, 0, 0.089);
    color: plum;
    padding: 5px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;

}

.nav-listmates {
    display: flex;
    gap: 30px;

}


.portada {
    background-color: violet;
    height: 100vh;
    background-image: url("../img/flores.jpg");
    background-position: center;
    background-size: cover;
    display: flex;

    align-items: center;
    justify-content: center;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(238, 130, 238, 0.664);
    padding: 20px;
    border-radius: 40px;

}

.distribucion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tarjeta {

    padding: 20px;
    margin: 50px;
    background-color: rosybrown;

    width: 300px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;



}

.tarjeta-img {
    width: 100%;
    border-radius: 20px;
}

.btn {
    background-color: lightgreen;
    padding: 5px;
    border: 2px solid green;
    border-radius: 10px;

}

.btn:hover {
    background-color: white;
    color: black;

}